<section class="colecciones">
    <div class="title-colecciones">
        <div class="content-title">
            <h1>Colecciones</h1>
        </div>
    </div>

    <div class="container-cards-colecciones">
        <figure>
            <img src="assets/img/15621560565090.jpg" alt="">
            <div class="capa">
                <h3>nom coleccion</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos minima itaque nemo ipsam.</p>
            </div>
        </figure>

        <figure>
            <img src="assets/img/15621560565090.jpg" alt="">
            <div class="capa">
                <h3>nom coleccion2</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos minima itaque nemo ipsam.</p>
            </div>
        </figure>
    </div>
</section>
