<section class="categorias">

    <div class="title-categorias">
        <div class="content-title">
            <h1>Categorías</h1>
        </div>
    </div>

    <div class="container-cards-categorias">
        <div class="box">
            <img src="assets/img/15621560565090.jpg" alt="">
            <span>categoria 1</span>
        </div>

        <div class="box">
            <img src="assets/img/15621563337436_640x0.jpg" alt="">
            <span>categoria 2</span>
        </div>

        <div class="box">
            <img src="assets/img/ELIE-SAAB-HC-FW-19-20-40.jpg" alt="">
            <span>categoria 3</span>
        </div>

        <div class="box">
            <img src="assets/img/22.jpg" alt="">
            <span>categoria 2</span>
        </div>
    </div>
</section>
