/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-colo: #060607;
    --second-color: #fff;
    --alternative-color: #ffce2b;
    --frist-grey: #42413d;
    --second-grey: #b2afac;
    --third-grey: #959492;
    --second-alternative-color: #111f28;
    --third-alternative-color: #afb9c5;
    --fourth-alternative-color: #e3cdb3;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Hanken Grotesk', sans-serif;
}

html, body {
    margin: 0;
    font-family: 'Hanken Grotesk', sans-serif;
}
