<main class="main-grid">
    <!-- grid 1 -->
    <div class="secundary-grid-1">
        <!-- SIDEBAR -->
        <div class="side-bar-container">
            <div class="left-logo-container">
                <a href="">
                    <img src="assets/img/NEGRO BY ALEJANDRA.png" alt="">
                </a>
            </div>

            <div class="left-socials-container">
                <a href="">
                    <i class="pi pi-instagram"></i>
                </a>
                <a href="">
                    <i class="pi pi-instagram"></i>
                </a>
                <a href="">
                    <i class="pi pi-linkedin"></i>
                </a>
                <a href="">
                    <i class="pi pi-facebook"></i>
                </a>
                <a href="">
                    <i class="pi pi-twitter"></i>
                </a>                
            </div>
        </div>

        <!-- NAVBAR -->
        <nav>
            <ul>
                <li><a href=""><i class="pi pi-home"></i></a></li>
                <li><a href="">Colecciones</a></li>
                <li><a href="">Nosotras</a></li>
                <li><a href="">Ayuda y condiciones</a></li>
            </ul>
        </nav>

        <!-- SLOGAN -->
        <div class="slogan-container">
            <h1>
                <span>Bring</span>
                <span class="bold">Fashion</span>
                <span>Into</span>
            </h1>
            <h1>
                <span>your home</span>
            </h1>
        </div>

        <!-- ACTION BUTTON -->
        <div class="action-button-container">
            <button>Create argment</button>
        </div>

        <!-- MAIN P -->
        <div class="slogan-p-container">
            <i class="pi pi-home"></i>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Natus harum quos incidunt nulla repudiandae suscipit 
                aspernatur maxime! Accusamus, ab error aut dicta corporis 
                rerum, unde, sunt tempore alias iusto asperiores!
            </p>
        </div>

        <!-- CAROUSEL -->
        <div class="carousel-container">

        </div>
    </div>

    <!-- GRID 2  -->
    <div class="secundary-grid-2">
        <!-- MAIN PRODUCT CART -->
        <div class="main-product-cart">
            <h2>Fashion Branch</h2>
        </div>
        <div class="cart-single">
            <h3>single fashion</h3>
            <h3>precio</h3>
        </div>
        <div class="cart-multi">
            <h3>5x fashions</h3>
            <h3>precio</h3>
        </div>
        <div class="inputs">
            <div class="input">
                <input type="radio" name="" id="">
                <span>cosa1</span>
            </div>
            <div class="input">
                <input type="radio" name="" id="">
                <span>cosa1</span>
            </div>
            <div class="input">
                <input type="radio" name="" id="">
                <span>cosa1</span>
            </div>
            <div class="input">
                <input type="radio" name="" id="">
                <span>cosa1</span>
            </div>
        </div>

        <!-- MAIN PRODUCT DISPLAYED -->
        <div class="main-product">
            <div class="img-product-container">
                <img src="/assets/img/avatar.png" alt="">
                <div class="bg1">
                    <i class="pi pi-home"></i>
                </div>
            </div>
            <div class="points-container">
                <div class="points-img-container">
                    <div class="point-img">
                        <i class="pi pi-home"></i>
                    </div>
                    <div class="point-img">
                        <i class="pi pi-home"></i>
                    </div>
                    <div class="point-img">
                        <i class="pi pi-home"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="bg">

</div>
