<div class="container">
    <main class="banner">
        <div class="section-bannerleft">
            <div class="logo-container">
                <div class="img">hola</div>
            </div>

            <div class="media-socials">hola</div>
        </div>
        <div class="section-bannerRight">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, velit. Dolore quia minima, cumque unde eos officiis dolor non! Facere porro obcaecati deleniti vero earum, voluptatibus error corrupti numquam facilis.
            </p>
        </div>
    </main>

</div>



<!-- <div class="bg2"></div> -->
